<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>

<p>Title: {{title}} </p>
<p>Author: {{author_sur}}, {{author_first}} </p>
<p>Publishing Year: {{pub_year}} </p>
<p>Borrowed by: {{status}} </p>

<form action="http://localhost:5000/book_template_search_return"  method = "post">

    <p><input type = "submit" name ="button" value = "Mark as Returned"</p>
    <p><br></p>
    <p><input type = "submit" name = "button" value = "return" /></p>


</form>


</body>
</html>