<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

   <form action = "http://localhost:5000/menu_main" method = "post">

        <p id="add_book"><input type="submit" name="submit" value="Add Book"> </p>
        <p id="add_user"><input type="submit" name="submit" value="Add User"> </p>
        <p id="search_book"><input type="submit" name="submit" value="Search Book"> </p>
        <p id="search_user"><input type="submit" name="submit" value="Search User"> </p>
        <p><br></p>
        <p><input type="submit" name="submit" value="return"> </p>

    </form>


</body>
</html>

