<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

    <form action = "http://localhost:5000/book_search_user_side" method = "post">

        <!-- search by title -->
        <p>Search for Book: </p>
        <p><input type = "text" name = "field" /></p>

         <!-- submit -->

        <p><input type = "submit" name = "search" value = "Search by Title" /></p>

        <!-- submit -->

        <p><input type = "submit" name = "search" value = "Search by Surname" /></p>

        <!-- submit -->

        <p><input type = "submit" name = "search" value = "Search by First Name" /></p>
    </form>
    <p><br></p>
    <form action="http://localhost:5000/book_search_return_user_side" method = "post">

        <p><input type = "submit" name = "return" value = "return"></p>

    </form>

</body>

</html>